# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de banco de dados local
database.json

# Diretórios de build
/dist
/build

# Arquivos de log
*.log

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs e editores
.vscode/
.idea/

# Outros arquivos temporários
*.swp
